body {
  user-select: none;
  header {
    //
    #return-to-top {
      z-index: 99999999999;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: rgb(0, 0, 0);
      background: $colorHover;
      width: 50px;
      height: 50px;
      display: block;
      text-decoration: none;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      display: none;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    #return-to-top i {
      color: #fff;
      margin: 0;
      position: relative;
      left: 16px;
      top: 13px;
      font-size: 19px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    #return-to-top:hover {
      background: rgba(0, 0, 0, 0.9);
    }
    #return-to-top:hover i {
      color: #fff;
      top: 5px;
    }

    /* Extra Things */
    body {
      background: #eee;
      font-family: "Open Sans", sans-serif;
    }
    h3 {
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin-top: 50px;
    }
    h3 i {
      color: #444;
    }
    //======================================

    .headerLoginSection {
      .row {
        .header-top {
          height: 68px;
          display: flex;
          overflow: hidden;

          .header-top-left {
            background-color: $colorHover;
          }
          p {
            z-index: 300;
            text-align: center;
            position: relative;
            font-size: 15px;
            line-height: 68px;
            font-weight: 600;
            color: $colorWhite;
            &::after {
              content: "";
              position: absolute;
              width: 107px;
              height: 6px;
              background-color: white;
              z-index: 887;
              top: 30px;
              transform: rotate(45deg);
              right: -90px;
            }
            &::before {
              z-index: 299;
              content: "";
              z-index: 0;
              position: absolute;
              width: 97px;
              height: 69px;
              background-color: $colorHover;
              z-index: 887;
              top: 26px;
              transform: rotate(45deg);
              right: -60px;
            }
          }
          .header-top-right {
            display: flex;
            justify-content: flex-end;
            background-color: $colorOpasity;
            a {
              text-decoration: none;
              margin-right: 30px;
              font-size: 15px;
              line-height: 68px;
              font-weight: 600;
              color: $colorWhite;
              transition: $transition;
              &:hover {
                color: $colorHover;
              }
            }
          }
        }
      }
    }
    .headerNavBarSection {
      z-index: 990;
      width: 100%;
      .container {
        position: relative;
        .search_button {
          display: none;
          position: absolute;
          right: 54px;
          top: 15px;
          font-size: 30px;
          color: $colorOpasity;
        }
        .search_panel {
          display: none;
          position: absolute;
          z-index: 700;
          right: 17px;
          top: 66px;
        }
        .menu_button {
          display: none;
          position: absolute;
          right: 0px;
          top: 14px;
          i {
            color: $colorOpasity;
            font-size: 30px;
            margin-left: 10px;
          }
        }
        .row {
          // height: 131px;

          .navbar {
            padding: 0px;
            .container-fluid {
              .navbar-brand {
                img {
                  transition: $transition;
                }
              }
              .navbar-collapse {
                display: flex;
                .navbar-nav {
                  // width: 100%; <=============== На маленьком экране
                  position: relative;
                  margin: auto !important;
                  .nav-item {
                    z-index: 20;
                    position: relative;
                    .nav-link {
                      z-index: 21;

                      color: black;
                      padding: 31px 15px;
                      &:hover {
                        color: $colorHover;
                      }
                      &::after {
                        content: none;
                      }
                    }
                    .dropdown-toggle {
                    }
                    .dropdown-menu {
                      width: 200px;

                      position: absolute;
                      top: 72px;
                      li {
                        a {
                          overflow: hidden;
                          transition: $transition;
                          &:hover {
                            margin-left: 8px;
                            color: $colorHover;
                            background-color: unset;
                          }
                        }
                      }
                    }
                  }
                }
                form {
                  position: relative;
                  .search-icon {
                    position: absolute;
                    top: -16px;
                    right: -20px;
                    background-color: $colorOpasity;
                    border-radius: 50%;
                    padding: 7px;
                    i {
                      font-size: 14px;
                      color: $colorWhite;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .navbar_responsive {
      display: none;
      z-index: 888;
      .custom-nav-container {
        display: block;
        .custom-nav-item {
          border-top: 1px solid $colorOpasity;
          position: relative;
          .open_dropdown {
            position: absolute;
            width: 30px;
            height: 75px;
            font-size: 30px;
            right: 22px;
            border-left: 1px solid black;
            top: 0px;
            i {
              margin: 19px 13px;
            }
          }
          .custom-nav-link {
            text-decoration: none;
            color: black;
            font-size: 15px;
            font-weight: 500;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 30px;
            padding-bottom: 30px;
            display: inline-block;
            i {
              font-family: "FontAwesome" !important;
              font-size: 13px;
            }
            &:hover {
            }
          }
          .active {
          }
          .custom-nav-dropdown {
            top: 70px;
            width: 100%;
            background-color: white;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.45);
            border-radius: 5px;
            display: none;
            li {
              border-bottom: 1px solid black;
              padding: 15px 0px;

              a {
                padding: 10px 0px;
                padding-left: 90px;
                text-decoration: none;
                display: block;
                &:hover {
                  color: $colorHover;
                }
              }
              &:last-child {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
